{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">

<br>

<div class="row">
    <div class="col-md">

        <div class="card card-body mb-3">
            <h5 style="margin: 0; font-weight: bold; color: #343a40;">Products Inventory</h5>
        </div>

        <div class="card card-body p-0">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td><span class="price-tag">${{ product.price|floatformat:2 }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}